/* ExpenseFilter.css */

.expense-filter {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.expense-filter label {
  font-weight: bold;
}

.expense-filter select {
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 6px;
  border: 1px solid #ccc;
}
